<!doctype html lang="{{resume.basics.lang}}">
<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">

	<title>{{resume.basics.name}}</title>

  {{!-- Fonts and icons --}}
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  {{!-- When using with resume-cli, inline CSS --}}
  {{#if css}}
    <style>
      {{{css}}}
    </style>
  {{/if}}

  {{!-- When developing, stylesheet is loaded from another file --}}
  {{#if stylesheet}}
    <link rel="stylesheet" href="{{stylesheet}}"/>
  {{/if}}

	</head>
	<body class="bg-orange-50 pt-8 px-4 print:px-8 text-slate-900 text-sm">
    <div class="max-w-4xl mx-auto px-2">
      <div class="basics border-b-2 mb-2 pb-2 border-orange-500">
            <div>
            <h1 class="text-5xl mb-4">{{resume.basics.name}}</h1>

            {{!-- basics.label e.g. "Programmer" --}}
            <h2 class="text-l mb-4">{{resume.basics.label}}</h2>

            {{#if resume.basics.summary}}
              <div class="mb-4 mx-10">
                <h3 class="italic border-l-4 border-orange-300 p-4 text-lg">{{resume.basics.summary}}</h3>
              </div>
            {{/if}}

            <div class="profiles">
              {{> profiles }}
            </div>
          </div>
      </div>
      <div class="sm:grid print:grid grid-cols-4 gap-8">
        <div class="sm:order-2 print:order-2 col-span-3 mb-4">
          {{> work }}
          {{> volunteer }}
          {{> education }}
          {{> awards }}
          {{> publications }}
          {{> references }}
        </div>
        <div class="order-1 col-span-1 mb-4">
          {{> skills }}
          {{> languages }}
          {{> interests }}
        </div>
      </div>
    </div>
  </body>
</html>
